<?xml version="1.0" encoding="utf-8"?>
<Project>
    <!--
            Standalone desktop distribution profile.
            Do NOT use this output for Microsoft Store certification / WACK.
        -->
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <AssemblyName>PiQ</AssemblyName>
        <PublishSingleFile>true</PublishSingleFile>
        <SelfContained>true</SelfContained>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <IncludeAllContentForSelfExtract>true</IncludeAllContentForSelfExtract>
    </PropertyGroup>
</Project>