<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ColorPicker.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ColorPicker.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ColorPicker.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColorType" serializeAs="String">
                <value>HEX</value>
            </setting>
            <setting name="AutoCopyToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureColorOnSelf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFirstBoot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SetWindowPosOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlobalHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="GlobalHotkeyEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SetZoomLevelOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomLevel" serializeAs="String">
                <value>19</value>
            </setting>
        </ColorPicker.Properties.Settings>
        <ColorPicker.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
        </ColorPicker.Settings>
    </userSettings>
</configuration>